extends layout
include mixins/_projectInfo
include mixins/_projectStory
include mixins/_projectMedia
include mixins/_projectTeam

block content
  .inner.form
    nav.sub-nav
      span.sub-nav__link(class=(currentPath.includes('new') ? 'sub-nav--active' : '')) 
        a(href="/project/new") Info 
      span.sub-nav__link(class=(currentPath.includes('story') ? 'sub-nav--active' : '')) 
        a(href=`/project/${slug}/story`) Story 
      span.sub-nav__link(class=(currentPath.includes('media') ? 'sub-nav--active' : ''))
        a(href=`/project/${slug}/media`) Media
      span.sub-nav__link(class=(currentPath.includes('team') ? 'sub-nav--active' : '')) 
        a(href=`/project/${slug}/team`) Team
    if currentPath.includes('new')
      +projectInfo()
    else if currentPath.includes('story')
      +projectStory()
    else if currentPath.includes('media')
      +projectMedia()
    else if currentPath.includes('team')
      +projectTeam()