mixin projectStory(project = {})
  
  form.form(method="POST" action=`/project/${slug}/story`)
    .row
      label(for="project-story") Story
      textarea(type="text" name="story" class="sub-nav-input" placeholder="Tell us more about your project" required) #{project.story}
    .row
      - const choices = ['Youth', 'Environment Friendly', 'Social', 'Community']
      label(for="project-tags") Tags
      ul.tags
        each tag in choices
          .tag.tag__choice
            input(type="checkbox" id=tag value=tag name="tags")
            label(for="choice")=  tag
    input(type="submit" value="Next")